<h1>Movie #<%= @an_id %> details</h1>

<a href="/movies" class="btn btn-block btn-outline-secondary">
Go back
</a>

&nbsp;|&nbsp;

<a href="/delete_movie/18" class="btn btn-block btn-outline-secondary">

